/*Navigation Bar elements*/
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:deeppink;
    position:relative;
    top: 0;
    left: 0;
    right:0;
    height:84px;
    align-items: center;
}
/*End Navigation Bar elements*/

/*list elements*/

li {
    float:left;
}

li a:hover {
    background-color: #ffccee;
}

a {
    display:block;
    padding: 30px 35px;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    color: #ffffff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
    margin-left: 30;
    padding: 0;
    list-style-type:none;
}
/*end list elements*/


h1 {
    color: #ff00aa;
    text-align: center;
    font-size: 35px;
}

h2 {
    color: #8600b3;
    text-align: center;
    margin-left: 15px;
    text-decoration-line: underline;
    font-size: 20px;
}

h3 {
    color:black;
    text-align: center;
    font-size: 15px;
    flex-wrap: wrap;
}

p {
    color:black;
    text-align: center;
}

#indexTitle {
    font-size: 100px;
    color: #66004e;
    align-content: center;
    overflow: auto;
    margin: 0;
    font-family:cursive;
}


body {
    background-color: #cc99ff;
    font-family: Verdana, Arial, sans-serif;
}

.contentwrapper {
    background-color: #ff99bb;
}
    
header {
    background-color: hotpink;
    text-align: center;
    width: 100%;
    margin: 0;
}

footer {
    background-color: #a64dff;
    height:100px;
    margin: 0;
}

mailto {
    text-decoration: underline;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
    background-color: #ff80df;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ccccff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

figcaption {
    text-align: center;
    font-size: 15px;
}

hr {
    border: 0.5px solid #cc0099;
}